body{
    font-family: sans serif;
    background-repeat:no-repeat ;
    background-size: cover;
    background-color:#808080;
    padding:0px;
    margin:0 auto;
}
.navigation-bar ul li a{
 text-decoration:none;
}
.nav ul{
  float: right;
  list-style-type: none;
  margin: 40px;
}
.nav ul li{
  display: inline-block;
  font-family:'opensans-regular',sans-serif;
}
.nav ul li a{
  padding: 8px 25px;
  color: #001002;
  font-size: 20px;
  text-decoration: none;
}
.intro-images{
  background-image: url(../images/none);
  text-align: center;
  padding-top: 80px;
  min-height: 40px;
  padding-right: 1%;
  padding-left: 4%;
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size:cover;
  background-position: center center;
  overflow: auto;
  }
.skills-intro{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
}
.footer{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
}
.contact{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
}
.projects{
padding-top: 1%;
padding-bottom: 1%;
padding-left: 5%;
padding-right:5%;
font-size: 20px;
}